.container4 {
    background: black;
    opacity: 1.8;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: -2rem;
    margin-right: 0rem;
    margin-left: -2rem;
    margin-top: 0rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 0.8rem;
    padding-top: 0.6rem;
    width: 40rem;
    color: white;
}

.container3 {
    background: black;
    opacity: 0.8;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: -2rem;
    margin-right: 4rem;
    margin-left: 2rem;
    margin-top: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 2.8rem;
    padding-top: 0.6rem;
    width: 40rem;
    color: white;
}

form span {
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 98%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid white;
    resize: none;
    color: wheat;
}

@media (max-width: 62em) {
    .container.contact__container {
        width: 18%;
        display: grid;
        grid-template-columns: 30% 58%;
        gap: 15%;
        margin-top: 14rem;
        margin-left: 31rem;
        margin-bottom: -37rem;
    }
}


/* 980px  */

@media (max-width: 62em) {
    .container3 {
        background: black;
        opacity: 0.8;
        border: 0.2rem solid black;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: -2rem;
        margin-right: 5rem;
        margin-left: 1rem;
        margin-top: 3rem;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 2.8rem;
        padding-top: 0.6rem;
        width: 34rem;
        color: white;
    }
    .container4 {
        background: black;
        opacity: 1.8;
        border: 0.2rem solid black;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: -2rem;
        margin-right: 5rem;
        margin-left: -1rem;
        margin-top: 0rem;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 0.8rem;
        padding-top: 0.6rem;
        width: 32rem;
        color: white;
    }
}


/* Below 560px  */

@media (max-width: 35em) {
    .container3 {
        background: black;
        opacity: 0.8;
        border: 0.2rem solid black;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: -2rem;
        margin-right: 5rem;
        margin-left: 0.3rem;
        margin-top: 5rem;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 2.8rem;
        padding-top: 0.6rem;
        width: 23rem;
        color: white;
        margin-top: 3.5rem;
    }
    .container4 {
        background: black;
        opacity: 1.8;
        border: 0.2rem solid black;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: -2rem;
        margin-right: 5rem;
        margin-left: -1rem;
        margin-top: 0rem;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 0.8rem;
        padding-top: 0.6rem;
        width: 23rem;
        color: white;
    }
}

@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .container.contact__container {
        width: 2rem;
    }
}